In [1]:
%matplotlib inline

%install_ext https://raw.github.com/cpcloud/ipython-autotime/master/autotime.py
%load_ext autotime

Installed autotime.py. To use it, type:
  %load_ext autotime

In [2]:
import pyprind

from IPython.display import HTML


import numpy as np
from numpy import genfromtxt

import pandas as pd
from pandas import DataFrame

import warnings

# import sklearn as skl
# #from sklearn.preprocessing import normalize
# from sklearn.cross_validation import KFold
# from sklearn.ensemble import RandomForestClassifier as RFC
# from sklearn.tree import DecisionTreeClassifier as DTC
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.preprocessing import OneHotEncoder

import scipy.io as sio
from scipy.spatial import distance

from scipy.misc import imread, imsave, imresize
from scipy.io import savemat, loadmat
import matplotlib.pyplot as plt

from keras.models import *
from keras.layers import *
from keras.layers.recurrent import *
from keras.utils.np_utils import to_categorical
from keras.optimizers import SGD

time: 1.91 s

Using Theano backend.

In [3]:
warnings.filterwarnings('ignore')

time: 1 ms

In [4]:
def split_data(dataset, train_fraction=0.8):
    
    train_size = (train_fraction * np.shape(dataset)[0])
    
    np.random.shuffle(dataset)
    
    columns = np.shape(dataset)[1]-1
    x = dataset[0::,0:columns]
    y = dataset[0::,columns:]
    
    x_training, x_test = x[:train_size,:], x[train_size:,:]
    
    y_training, y_test = y[:train_size, :], y[train_size:, :]
    
    return x_training, x_test, y_training, y_test

time: 11 ms

In [5]:
Michael = pd.read_csv('Trials/Michael.csv', header=None)

Michael.columns = ['Delta', 'Theta', 'Low_Alpha', 'High_Alpha', 'Low_Beta', 'High_Beta',
                         'Low_Gamma', 'High_Gamma', 'Attention', 'Meditation', 'Label']

Brooke = pd.read_csv('Trials/Brooke.csv', header=None)

Brooke.columns = ['Delta', 'Theta', 'Low_Alpha', 'High_Alpha', 'Low_Beta', 'High_Beta',
                  'Low_Gamma', 'High_Gamma', 'Attention', 'Meditation']

Mark = pd.read_csv('Trials/Mark.csv', header=None)

Mark.columns = ['Delta', 'Theta', 'Low_Alpha', 'High_Alpha', 'Low_Beta', 'High_Beta',
                         'Low_Gamma', 'High_Gamma', 'Attention', 'Meditation', 'Label']

Mark.shape

(2072, 11)

time: 32.5 ms

In [6]:
Test_x = pd.read_csv('Trials/results.csv', header=None)

Test_x.columns = ['Delta', 'Theta', 'Low_Alpha', 'High_Alpha', 'Low_Beta', 'High_Beta',
                         'Low_Gamma', 'High_Gamma', 'Attention', 'Meditation']

Test_x['Label'] = 1

time: 7.01 ms

In [7]:
temp = Test_x.values

test_X = temp[:, 0:9]

test_Y = temp[:, 10]

test_Y

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.])

time: 11.5 ms

In [8]:
temp_Y = pd.Series(test_Y)

temp_Y = pd.get_dummies(temp_Y)

test_Y = temp_Y.values

temp2 = np.zeros((len(test_Y), 2))

test_Y = np.concatenate((test_Y, temp2), axis=1)

time: 8 ms

In [9]:
Brooke['Label'] = 3

Brooke.shape

(1801, 11)

time: 9.51 ms

In [10]:
Michael = Michael[Michael['Label'] == 1]

Michael_prime = Michael[Michael['Attention'] > 0]

Michael = Michael_prime[Michael_prime['Meditation'] > 0]


Mark_prime = Mark[Mark['Attention'] > 0]

Mark = Mark_prime[Mark_prime['Meditation'] > 0]

Mark.shape

(2072, 11)

time: 16.5 ms

In [11]:
Mark.head()

,Delta,Theta,Low_Alpha,High_Alpha,Low_Beta,High_Beta,Low_Gamma,High_Gamma,Attention,Meditation,Label
0,160084,26918,11728,7755,3846,2365,1191,1494,1,84,NaN
1,840783,93268,11747,65774,99985,21266,40141,17742,1,84,2
2,1217192,143461,10210,11761,23137,12823,9761,7286,1,84,2
3,1030498,172887,24678,9847,9626,12134,5483,2068,7,88,2
4,612621,51515,1114,10179,9506,4846,3245,3569,7,75,2

time: 19.5 ms

In [35]:
frames = [Michael[0:1800], Mark[0:1800], Brooke[0:1800]]

data = pd.concat(frames, copy=False, ignore_index=True, axis=3)

data = data.drop_duplicates()

data = data.dropna()

#data = data.values

time: 44 ms

In [48]:
#THIS IS WHAT YOU FIX

frames = {'Subject 1': Michael[0:1800],
         'Subject 2': Mark[0:1800],
         'Subject 3': Brooke[0:1800]}

data = pd.Panel(frames)

data.shape

(3, 1801, 11)

time: 11 ms

In [32]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
1,53353,11880,6189,4239,4458,2143,1748,1179,44,78,...,99908,47901,13062,14273,21313,970,1059,50,48,3
2,99931,29707,46475,15247,7940,9243,2525,2228,48,96,...,11983,11548,16236,16071,28348,5329,4883,50,48,3
3,7455,34486,12475,2774,10723,11459,3134,1632,50,80,...,30136,3927,5729,4509,3437,4023,1891,50,48,3
4,237956,83772,10063,50412,21757,10896,2359,5714,50,77,...,21068,1237,5018,8695,4318,2164,803,50,48,3
5,68407,9735,2887,2358,4598,2266,897,1531,53,69,...,304932,191252,262676,80364,74850,42337,20754,41,74,3

time: 43.5 ms

In [14]:
X = data[:, 0:9]

Y = data[:, 10]

time: 5.5 ms

In [15]:
Y = pd.Series(Y)

Y = pd.get_dummies(Y)

Y = Y.values

time: 12.5 ms

In [16]:
data = np.concatenate((X, Y), axis=1)

np.shape(data)

(5400, 12)

time: 8.51 ms

In [17]:
# Y = to_categorical(Y.astype(int), 3)

# np.shape(Y)

time: 6.5 ms

In [18]:
#a = Input(shape=(5400,12))
#b = Dense(3)(a)

mlp_model = Sequential()

mlp_model.add(Dense(64, input_dim=9, init='uniform'))
mlp_model.add(Activation('tanh'))
mlp_model.add(Dropout(0.5))
mlp_model.add(Dense(64, init='uniform'))
mlp_model.add(Activation('tanh'))
mlp_model.add(Dropout(0.5))
mlp_model.add(Dense(3, init='uniform'))
mlp_model.add(Activation('softmax'))

sgd = SGD(lr=0.05, decay=1e-6, momentum=0.9, nesterov=True)

mlp_model.compile(loss='categorical_crossentropy',
              optimizer=sgd,
              metrics=['accuracy'])

time: 1.76 s

In [19]:
mlp_model.fit(X, Y, batch_size=16, nb_epoch=200, verbose=0)

time: 1min 21s

In [20]:
predicted = mlp_model.predict(test_X, batch_size=20)

time: 215 ms

In [21]:
np.set_printoptions(suppress=True)

np.mean(predicted, axis=0)

array([ 0.02615849,  0.62334025,  0.35050127])

time: 4 ms

In [22]:
#X = X.reshape((np.shape(X)[0], 1, np.shape(X)[1]))

time: 11.5 ms

In [23]:
lstm_model = Sequential()

lstm_model.add(TimeDistributed(Dense(121), input_shape=(12, 16)))
#lstm_model.add(TimeDistributed(Dense(5400))
lstm_model.add(LSTM(1000, return_sequences=True))
# lstm_model.add(TimeDistributedDense(500))
lstm_model.add(LSTM(50, return_sequences=False))
lstm_model.add(Dense(3, init='uniform', activation='softmax'))

lstm_model.compile(optimizer=sgd,
                   loss='categorical_crossentropy',
                   metrics=['accuracy'])

time: 4.94 s

In [24]:
lstm_model.summary()

____________________________________________________________________________________________________
Layer (type)                       Output Shape        Param #     Connected to
====================================================================================================
timedistributed_1 (TimeDistributed)(None, 12, 121)     2057        timedistributed_input_1[0][0]
____________________________________________________________________________________________________
lstm_1 (LSTM)                      (None, 12, 1000)    4488000     timedistributed_1[0][0]
____________________________________________________________________________________________________
lstm_2 (LSTM)                      (None, 50)          210200      lstm_1[0][0]
____________________________________________________________________________________________________
dense_5 (Dense)                    (None, 3)           153         lstm_2[0][0]
====================================================================================================
Total params: 4700410
____________________________________________________________________________________________________
time: 1.23 s

In [25]:
lstm_model.fit(X, Y, batch_size=32, nb_epoch=20, verbose=1)

Epoch 1/20

TypeError: ('Bad input argument to theano function with name "C:\\Anaconda3\\lib\\site-packages\\keras\\backend\\theano_backend.py:514" at index 0 (0-based)', 'Wrong number of dimensions: expected 3, got 2 with shape (32, 9).')

time: 26.3 s